GOOGLE_SERVICE_ACCOUNT_FILE=clean-framework-508311-k5-e9e0b32ccd1b.json
DRIVE_UPLOADS_FOLDER_ID=
DRIVE_PROCESSED_FOLDER_ID=
FLASK_SECRET_KEY=change-me-to-something-random
PORT=5000
FILE_EXPIRY_DAYS=30
